<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title> {{someWebsite}} </title>
    </head>
    <body>
        <p>
            The page is currently updated.
        </p>
    </body>
</html>